#loading_spinner {
    
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    opacity: 0.9;
    animation: time_load 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    display: flex;
    justify-content: center;
    text-align: center;

        .icone {
            width: 60px;
            font-size: xx-large;
            animation: icone_spinner 2s;
            animation-delay: 0.5s;
        }
}

#icones_spinner {
    align-self:center;
    height: 30%;
    @include desktop {
        align-self:flex-end;
        height: 41%
    }
}


