@import "../base/mixins.scss";

.title_nav {
    margin-left: 18px;
    margin-top: 40px;
    margin-bottom: 0; 
    @include desktop {font-size: 2rem;}
}

.nav_restaurant_accueil{
    
   
    

    & ol {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        list-style: none;
        counter-reset: order;
        @include desktop {flex-direction: row;}
    }


    & li {
        position: relative;
        font-weight: bold;
        background-color:#f6f6f6;
        padding: 1rem 2rem;
        flex-grow: 1;
        height: 4rem;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablette-only {font-size: large;}
        
        &::before {
            content: counter(order);
            counter-increment: order;
            background-color: rgb(147, 86, 220);
            border-radius: 50%;
            display: flex;
            width:30px;
            height: 30px;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 1rem;
            left: -10px;
            
        }
       
    }
     & i.fas {
        margin-right: 2rem;
        color: rgb(163, 156, 156);
        @include tablette-only {font-size: xx-large;
        margin-right: 3rem;}
    }

    .violet::before {
        color: rgb(147, 84, 220);
    }

    .choix {
        @include tablette-only {width:80%;}
    }

    .composez {
        @include tablette-only {width:90%;}
    }

    .deguster {
        background-color: rgb(247, 237, 255);
        @include tablette-only {width:95%;}
    }
}
