/*---<titre>---*/

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

/*---<texte>---*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

*,
::before,
::after{
  box-sizing: border-box;
}

body {
  margin: 0px; 
  font-family: "roboto", sans-serif;
}

