@mixin tablette-only{
    @media screen and (min-width: map-get($breakpoints, tablette-only)) 
{
    &{ @content; }
    }
}
    $breakpoints:(
        tablette-only: 698px
    );


@mixin desktop{
     @media screen and (min-width: map-get($breakpoints_desk, desktop)) 
    {
    &{ @content; }
    }
}
    $breakpoints_desk:(
        desktop: 900px
    );
