@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

header {
  font-family: "shrikhand", sans-serif;
  text-align: center;
  box-shadow: 0px 3px 3px 1px grey;
  padding: 0,3rem;
  position: relative;
  margin: 0; }
  header h1 {
    margin: 0; }

.nav_restaurant_accueil ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  list-style: none;
  counter-reset: order; }
.nav_restaurant_accueil li {
  position: relative;
  font-weight: bold;
  background-color: #f6f6f6;
  padding: 1rem 2rem;
  flex-grow: 1;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -2px black;
  display: flex;
  justify-content: center;
  align-items: auto;
  align-items: center; }
  .nav_restaurant_accueil li::before {
    content: counter(order);
    counter-increment: order;
    background-color: #9356dc;
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    left: -10px; }
.nav_restaurant_accueil i.fas {
  margin-right: 2rem;
  color: #a39c9c; }

.text_accueil {
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 3%;
  background-color: #f9f9f9;
  height: 240px; }

#titre_resaccueil {
  font-size: large;
  margin: 0;
  margin-left: 17%;
  margin-right: 17%;
  font-weight: 400; }

#sstitre_resaccueil {
  font-size: 15px;
  margin-left: 12%;
  margin-right: 12%;
  font-weight: 100; }

.to_other_pages {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 15px auto;
  background-color: #bb76da;
  box-shadow: 2px 1px 8px -2px black;
  border-radius: 40px 40px 40px 40px;
  height: 25px;
  color: aliceblue;
  font-size: small;
  font-weight: 700;
  height: 25%;
  border: none; }

main {
  display: flex;
  margin-bottom: 3%; }
  main h3 {
    align-self: flex-start;
    margin-left: 18px; }
  main .restaurant_accueil {
    width: 100%;
    background-color: #f6f6f6;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 10%; }
    main .restaurant_accueil article {
      background-color: white;
      border: none;
      border-radius: 25px 25px 25px 25px;
      padding-bottom: 1%; }
    main .restaurant_accueil a {
      width: 90%;
      margin-bottom: 1rem;
      text-decoration: none; }
    main .restaurant_accueil img {
      width: 100%;
      object-fit: cover;
      height: 208px;
      border-radius: 25px 25px 0px 0px; }
    main .restaurant_accueil .info_photo {
      padding-left: 1rem;
      color: black;
      font-size: smaller; }
    main .restaurant_accueil .title_menu {
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: 100; }
    main .restaurant_accueil .city {
      margin-top: 0;
      font-weight: 300; }

footer {
  background-color: #353535;
  padding-bottom: 2rem;
  color: #f2f2f2; }

h4 {
  font-family: "shrikhand", sans-serif;
  color: #f2f2f2;
  margin-left: 25px;
  margin-top: 0;
  padding-top: 10%;
  font-size: 20px; }

.footer_list {
  display: flex;
  flex-direction: column;
  margin-left: 25px; }
  .footer_list p {
    margin-bottom: 0;
    margin-top: 5px; }
  .footer_list a {
    margin-top: 5px;
    color: #f2f2f2;
    text-decoration: none; }
  .footer_list a.footer--align1 {
    margin-left: 15px;
    margin-bottom: 8px; }
  .footer_list a.footer--align2 {
    margin-left: 9px;
    margin-bottom: 8px; }

/*---<geolocalisation>---*/
.geoloc_area {
  background-color: #eaeaea; }

#geoloc {
  display: flex;
  justify-content: center;
  font-family: "roboto",sans-serif;
  font-weight: 400; }
  #geoloc h2 {
    font-size: 16px;
    font-weight: 400; }

.logo_loc {
  margin: auto 15px auto 15px; }

.title_nav {
  margin-left: 18px;
  margin-top: 40px;
  margin-bottom: 0; }

/*# sourceMappingURL=style_smp.css.map */

/*# sourceMappingURL=style_.css.map */
