      /* unrole-display animation */

@keyframes affichage {
    from {
          opacity: (0);}
     
    to {
          opacity: (1);
        }   
}

      /* Check-box */


@keyframes translate {
      from {
            margin-right: -4rem;
            
      }
      

      to {
            margin-right: 0;
      }
}


@keyframes rotateCheck {
      0% {
            transform: rotate(-360deg);
      }

      100% {
            transform: rotate(0); 
      }
}

      /* Loading spinner animation  */


@keyframes time_load {
      from {
          opacity:(0,6);
      }
  
      to {
          opacity: (0);
          visibility: hidden;
      }
      
  }
  
  @keyframes icone_spinner {
      0% {
          
          transform: rotate(0);
      }
  
      50% {
          
          transform: rotate(180deg);
      }
  
      100% {
          transform: rotate(360deg);
          
      }
  }



